@font-face{
    font-family:'NavFont'; 
    src: url(../Fonts/Roboto-Light.ttf);
}
@font-face{
    font-family:'BodyFont'; 
    src: url(../Fonts/Rubik-Medium.ttf);
}
@font-face{
    font-family: 'QouteFont';
    src: url(../Fonts/PTSans-Bold.tff)
}

html{
    min-height: 100%
}
body{
    height: 100%;
    margin: 0;
    background-color: whitesmoke;
}

.homepage-image img{
    width: 100%;
    height: 100%;
    margin: 0;
    position: relative;
}
#homepage-quote{    
    font-family: 'QuoteFont', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    left: 50%;
    height: 100px;
    transform: translate(0, -130%);
    align-content: center;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.5);
}
#homepage-quote p{
    font-size: 26px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 40px;
}

.header{
    width: 100%;
    margin: 0 auto;
    font-family: 'NavFont', sans-serif;
}

header{
    background-color: whitesmoke;
}
header::after{
    content: '';
    display: table;
    clear: both;
}

.logo{
    width: 200px;
    float: left;
    padding-top: 20px;
    padding-left: 100px;
}

nav{
    float: right;
    padding-right: 100px;
}
nav ld{
    font-size: larger;
}
nav ul{
    margin: 0;
    padding-bottom: 0;
    list-style: none;
}
nav li{
    display: inline-block;
    margin-left: -5px;
    padding-top: 25px;
    padding-bottom: 22px;
    padding-left: 30px;
    padding-right: 30px;
}
nav li:hover a{
    color: whitesmoke;
}
nav li:hover{
    background-color: #006992;
}
.prijava li{
    background-color: white;
}
.prijava li:hover{
    background-color: #DE3C4B;
}


nav a{
    color: #3A3A3A;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: small;
    letter-spacing: 4px;
}

.footer{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: right;
    height: 40px;
    background-color: rgb(15, 15, 15);
    color: gray;
    position:absolute;
    bottom:0;
    width:100%;
}
footer p{
    padding-top: 0;
    padding-right: 30px;
}
/*
nav a:hover{
    color: darkgray;
}
*/